:root{
    /* user values */
    --square-size: 130px;
    --square-rad: 8px;
    --mark-size: 100px;
    --spacing: 30px;
    
    --square-color: black;
    --p1-color: #00FF00;    
    --p2-color: #FF0099;
    --other-color: #00FFFF;
    --p1-name: "PLAYER 1";
    --p2-name: "PLAYER 2";
    
    /* calculated values */
    --grid-size: calc((var(--square-size) + var(--spacing)) * 3);
    --display-size: calc(var(--square-size) * 3);
    --mark-margin: calc((var(--square-size) - var(--mark-size)) / 2);
    --grid-rad: calc(var(--spacing) + var(--square-rad));
    --text-size: calc(var(--mark-size)/2);

   /* symbol offsets */
    --off1: -35px;
    --off2: -2px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    text-shadow: 0px 0px 15px var(--other-color);
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


header {
    text-align: center;
    padding: 2em;
    background-color: #333333;
}

h1 {
    font-size: var(--text-size);
}


#game {
    text-align: center;
}

/* GAME CSS - including grid and turn display */

#turn-display {
    /* from vars */
    display: inline-block;
    height: var(--square-size);
    min-width: var(--display-size);
    border-radius: var(--square-rad);
    margin: var(--spacing) auto;
    padding: 0 var(--spacing);
    
    /* styling */
    text-align: center;
    background-color: var(--square-color);
    font-size: var(--mark-size);
}

aside, .p1::after {
    content: var(--p1-name);
    color: white;
    text-shadow: 0px 0px 15px var(--p1-color);
    font-size: var(--text-size);
}

aside, .p2::after {
    content: var(--p2-name);
    color: white;
    text-shadow: 0px 0px 15px var(--p2-color);
    font-size: var(--text-size);
}

aside, .draw::after {
    content: "DRAW!";
    color: white;
    text-shadow: 0px 0px 15px var(--other-color);
}

aside, .p1win::after {
    content: var(--p1-name) " WINS!";
    color: white;
    text-shadow: 0px 0px 15px var(--p1-color);
}

aside, .p2win::after {
    content: var(--p2-name) " WINS!";
    color: white;
    text-shadow: 0px 0px 15px var(--p2-color);
}

#grid {
    /* standard grid params from vars */
    margin: 0 auto;
    height: var(--grid-size);
    width: var(--grid-size);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: calc(var(--spacing) / 2);
    border-radius: var(--grid-rad);

    /* styling */
    border: 5px solid white;
    background-color: black;
    box-shadow: 0px 0px 20px var(--other-color) ;

}

/* squares in the grid */
#grid div {
    /* from vars */
    height: var(--square-size);
    width: var(--square-size);
    border-radius: var(--square-rad);
    position: relative;
    
    /* styling */
    background-color: var(--square-color);
    box-shadow: 0px 0px 15px 5px var(--other-color);
    
}

#grid .p1::after {
    /* from vars */
    display: block;
    height: var(--mark-size);
    width: var(--mark-size);
    margin: var(--mark-margin);
    position: absolute;
    text-align: center;
    line-height: calc(var(--mark-size) + var(--off1));

    /* symbol */
    content: "\26AC";
    font-size: calc(var(--mark-size)*1.4);

    /* style */
    color: white;
    text-shadow: 0px 0px 15px var(--p1-color), 0px 0px 10px var(--p1-color);
}

#grid .p2::after {
    /* from vars */
    display: block;
    height: var(--mark-size);
    width: var(--mark-size);
    margin: var(--mark-margin);
    position: absolute;
    text-align: center;
    line-height: calc(var(--mark-size) + var(--off2));
    
    /* symbol */
    content: "\2715";
    font-size: var(--mark-size);
    
    /* style */
    color: white;
    text-shadow: 0px 0px 15px var(--p2-color), 0px 0px 10px var(--p2-color);
}

#reset-btn {
    /* from vars */
    display: block;
    border-radius: var(--square-rad);
    margin: 70px auto;
    padding: 0 var(--spacing);
    
    /* styling */
    color: white;
    font-size: var(--text-size);
    background-color: var(--square-color);
    text-shadow: 0px 0px 15px var(--other-color),0px 0px 10px var(--other-color);
}